
body {
  background-color: #FFE6E6;
}

hr {

  border-style: none;
  border-top-style: dotted;
  background-color: #FFE6E6;
  color: grey;
  height: 0px;
  width: 5%;
  border-width: 5px;
}
